*{
    font-family: 'Lato';
    border-radius: 8px;
}

body{
background-color: rgba(0,0,0,0.3);
margin-top: 0;
}

/*  start of carousel -------------------------------*/ 
/**********************************************/
.dot:hover {
    background-color: #BF00FF;
  }

.carousel-Item , .fade{
    padding: 1.2rem;
    background-color: #fff;
    box-shadow: 0 4px 9px -2px grey;

  }

/* The dots/bullets/indicators of carousel*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .1s ease;
  }
  
  .active {
    background-color: #2bd1fc;

}

.entireCarousel{
    width: 55%;
    margin: auto;
    position: relative;
  }

  @media screen and (max-width: 600px){
  .entireCarousel{
        width: 80%;
        margin: auto;
        position: relative;
   }
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 2.2s;
  }

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

 @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  } */

  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  
/* Next & previous buttons */
.prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      /* margin-top: -22px; */
      padding: 16px;
      color: #BF00FF;
      font-weight: bold;
      font-size: 30px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      transform: translateY(-50%);
      user-select: none;
    }

.prev {
    left: -15%;
    border-radius:8px;
} 

/* Position the "next button" to the right */
.next {
        right: -15%;
        border-radius: 3px 0 0 3px;
        border-radius: 8px;
    } 

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.6);
    }

/* end of carousel start of alphalbetical order for rest -----------------*/
/******************************************/

.footer {
background-color: #000;  
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  border-radius: 0px;
}

.container {
    display: inline-block;
    cursor: pointer;
  }

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 5px;
  }

.bar1:hover, .bar2:hover, .bar3:hover {
    width: 35px;
    height: 4px;
    background-color: #BF00FF;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 5px;
  }

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

.hamburger {
      position: fixed;
  }
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-radius: 0px;
    background-color: #fff;
    box-shadow: 0 3px 2px -2px #BF00FF;
    border-radius: 0px;
}

.headerChange {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-radius: 0px;
    background-color: rgb(0, 0, 0, .6);
    box-shadow: 0 3px 2px -2px #BF00FF;
    border-radius: 0px;
}

.heroStatement{
    text-align: center;
    width: 50%;
    margin: auto; 
    padding: 5rem;
    font-size: 28px;
}

.image-coffee{
    box-shadow: 0 4px 9px -2px grey;
}

.letsConnect{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem; 
}

.me{
    border-radius: 50px;
    height: 17.2rem;
    width: 12.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 9px -2px grey;

}

.movePic{
    display: flex;
        justify-content: center;
    border: none;
}

#name{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.parallax { 
    /* The image used */
    background-image: url("../images/whitePattern.png");
    
    /* Set a specific height */
    height: 100%; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    margin-top: 0%;
    border-radius: 0px;
    max-width: 1200px;
    box-shadow: 0 4px 9px -2px black;
    ;
}

.gridSectionEntire{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem auto;
    width: 90%;
    justify-items: center;
    justify-content: space-around;

}
  
#gridSection-AbtMe {
    float: left;
    width: 47%;
 }

 #gridSection-MilServ{
    width: 47%;
 }

#gridSection-MilServ, #gridSection-AbtMe {
    padding: 18%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #fff;
    box-shadow: 0 4px 9px -2px grey;
 }

@media screen and (max-width: 750px){
    .gridSectionEntire{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        position: relative;
        width: 70%;
        margin-top: 4rem;
    }
    #gridSection-MilServ{
        margin-top: 5rem;
     }
}

.nav-toggle{
    background-color: #2bd1fc;

}

.buttonToggleAbtMe{
    width: 70px;
    height: 70px;
    background-image: url("../images/alexPersonIcon.png");
}

.buttonToggleMilServ{
    width: 70px;
    height: 70px;
    background-image: url("../images/alexMilServIcon.png");
}

.navItems { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    padding-left: 15px;
    padding-top: 15px;
    width:15%;
    top: 1.65rem;
    height: 22.4rem;
    background-color: rgb(0, 0, 0, .6);
    overflow: hidden;
    border-radius: 0;
}

@media screen and (max-width: 600px)  { 
  .navItems{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    padding-left: 4px;
    padding-top: 15px;
    width:20%;
    top: 1.85rem;
    height: 24.15rem;
    background-color: rgb(0, 0, 0, .6);
    overflow: hidden;
    border-radius: 0;
    font-size: 11px;
    position: fixed;
  }
}

.hideMainNav{
    /* width: 1.7rem;
    top: 1.65rem;
    /* pointer-events: none; 
    color: rgb(0, 0, 0, .6)!important; */
    display: none;
}

@media screen and (max-width: 500px){
  .hideMainNav{
  
    display: none;
  }
}

.navItem{
    list-style: none;
}

.navItem a{
    list-style: none;
    line-height: 60px;
    text-decoration: none; 
    color: white;
}

.navItem a:hover {
    list-style: none;
    line-height: 60px;
    color: #BF00FF;
}

/*   hamburger css *****************/

.projectImage{
      height: 13rem;
      width: 13rem;
      display: flex;
      justify-content: center;
  }

.projectImageMove{
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
  }

#techStack{
    text-align: center;
    font-size: 26px;
}

.title, .sectionTitle{
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    
    
    color:#fff;
    background-color: #000;
    padding: 1.3rem;
    width: 30%;
    
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 9px -2px #A513A4;
}

.titleGrid{
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    
    
    color:#fff;
    background-color: #000;
    padding: 1.3rem;
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 9px -2px #A513A4;
}

.whoIam{
    text-align: center;
    width: 1fr;
    margin: auto; 
    padding: 5rem;
    background-color: #BF00FF;
    color:#fff;  
    box-shadow: 0 4px 15px -2px #000;
    border-top-left-radius: 0;
    font-size: 26px;
}

.mainNavBtn{
    padding: 0;
    margin:0;
    background: none;
    border: none;
    z-index: 1000;
}

.mainNavBtn:focus{outline:0;}

.hideArticle, .hideArticle1, .hideArticle2, .hideArticle3, .hideArticle4{
display: none;
}

.iconBtn, .iconBtn1, .iconBtn2, .iconBtn3, .iconBtn4{
    border: none;

}

.iconBtn:hover, .iconBtn1:hover{
    border: none;
    cursor: grab;

}



#icon:focus{outline:0}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger{
    background-color: rgb(0, 0, 0, .02);
    overflow: hidden;
    border-radius: 0;
    border: none;
    color: white;
    text-align: left;
    padding-left: 0;
    font-size: 16px;
    padding-top: 1rem;

}

.trigger:hover{
    background-color: rgb(0, 0, 0, .02);
    overflow: hidden;
    border-radius: 0;
    border: none;
    color:#BF00FF;
    text-align: left;
    padding-left: 0;
    font-size: 16px;
    padding-top: 1rem;
    cursor: grab;
    
}